<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>frontend2</title><style>html{
        background: #f2f2f2;
        height: 100%;
      }
      body{
        margin: 0;
        height: 100%;
      }</style><link href=./static/css/app.c12fa771474bc66386aeb25731848f51.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=./static/js/manifest.3ad1d5771e9b13dbdad2.js></script><script type=text/javascript src=./static/js/vendor.8e6276e28fc8c9a45cde.js></script><script type=text/javascript src=./static/js/app.50c4fdbf87769347c047.js></script></body></html>